.appbg{
    padding: 10px;
    min-height: 100vh;
    height: fit-content;
    background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
}


*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }